[submodule "themes/ananke"]
	path = themes/ananke
	url = http://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/careercanvas"]
	path = themes/careercanvas
	url = https://github.com/felipecordero/careercanvas.git
[submodule "themes/lightbi-hugo"]
	path = themes/lightbi-hugo
	url = https://github.com/binokochumolvarghese/lightbi-hugo
[submodule "themes/my-lightbi-hugo-copy/my-lightbi-hugo-copy"]
	path = themes/my-lightbi-hugo-copy/my-lightbi-hugo-copy
	url = https://github.com/LiamCatto/my-lightbi-hugo-copy.git
