<!DOCTYPE html>

{{ $pName := .Get "name" }}
{{ $projectLink := .Get "link" }}
{{ $pDesc := .Get "desc" }}
{{ $imageSrc := .Get "src" }}
{{ $altText := .Get "alt" }}
{{ $imageWidth := .Get "iWidth" }}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title></title>
  {{ with resources.Get "/projectItem.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}
</head>

<body>
  <br />
  <br />
  <table>
    <tr>
      <td style="width:60%">
        <a href="{{ $projectLink }}" target="_blank">
          <h3>{{ $pName }}</h3>
        </a>
        <br />
        <p class="para">
          {{ $pDesc }}
        </p>
      </td>
      <td>
        <img src="{{ $imageSrc }}" width="{{ $imageWidth }}" alt="{{ $altText }}">
      </td>
    </tr>
  </table>
</body>

</html>