<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title></title>
  {{ with resources.Get "/contactsStyle.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}
</head>

<body>
  <br />
  <br />
  <br />
  <br />
  <div>
    <h4>
      Contact
    </h4>
    <p>
      Email: liammercado90@gmail.com
    </p>
    <br />
    <a href="https://linkedin.com/in/liam-mercado-4a9b62359" target="_blank">Linked In</a>
    <a href="https://champlain.joinhandshake.com/profiles/5dp8qq" target="_blank">Handshake</a>
    <a href="https://profile.indeed.com/?hl=en_US&co=US&from=gnav-jobseeker-profile--profile-one-frontend" target="_blank">Indeed</a>
  </div>
  <br />
  <br />
</body>

</html>