<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
  {{ with resources.Get "/projectDetails.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}
</head>
<body>
  <div>
    <iframe height="167" frameborder="0" src="https://itch.io/embed/3496510" width="552"><a href="https://snspkfre.itch.io/cthulhu-and-me">Cthulhu and Me by vctr, MaximoSchro, Blazing BRO, spareuidesigner, FuzzyOcelot, SokoCat</a></iframe>
  </div>
  <br/>
  <p>
    As per our Itch page:
    <br />
    <br />
    Cthulhu and Me is a third person roguelike boomer shooter where, after rising out of the ocean to terrorize humanity,
    Cthulhu takes interest in a little girl who seems completely unphased by his presence. Play as the little girl in her
    dreams, using a variety of imaginative weapons to blast away childhood fears given form as you try to stop the dream
    from becoming a nightmare! Randomized room arrangements and alternate game modes will keep the game feeling fresh as
    you try again and again to ward the eldritch away from bed time.
    <br />
    <br />
    I worked on Cthulhu and Me as the final project for my Game Studio II class in my Junior year at Champlain College,
    which can be thought of as a preview of the Capstone project that Game Studio majors have to complete in their Senior
    year.
    <br />
    <br />
    I worked on various features and gameplay systems during this project. As Juniors, this was the first time many of us
    had worked on a project with a large team so we were very organized when assigning roles. Because of this, our three 
    programmers sort of just picked up tasks to work on. There were some systems that were mostly created by an individual, 
    but for the most part we all had many small contributions scattered throughout the project to the point that in many cases 
    we couldn't definitively say that one person "owned" a certain system. That being said, I worked mostly on the dash ability,
    general enemy AI, and the Throwing Pencil and Crayon Shotgun weapons.
  </p>
</body>
</html>
