<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="/aboutStyle.css">
    </head>
    <body>
        <p class="para">
            Hello! My name is Liam Mercado, a student at Champlain College currently studying for my Bachelor of Science in Game Programming.
        </p>
        <img src="{{ $.Get "src" }}" width="{{ $.Get "width" }}" alt="Portrait of Liam Mercado">
    </body>
</html>
