<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
  {{ with resources.Get "/projectDetails.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}
</head>
<body>
  <video width="640" height="480" controls preload="metadata">
    <source src="https://store.steampowered.com/e0824727-9784-479f-8475-e8541509e954" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <br/>
  <br/>
  <div>
    <iframe src="https://store.steampowered.com/widget/4393990/?t=Prehistoric%20Pack%20by%20Bonepile%20Studios" frameborder="0" width="646" height="190"></iframe>
  </div>
  <br/>
  <p>
    As per our Steam page:
    <br/>
    <br/>
    Prehistoric Pack is a dinosaur auto battler. Each turn, rip open card packs of dinosaurs to create a ferocious dinosaur pack.
    Then, your dinos will automatically battle an enemy team. Win rounds to collect Bones and open more packs, then fill the
    Apex Meter to unleash devastating power on your prey!
    <br/>
    <br/>
    Jurassic Pack, which was made with Unreal Engine 5, was the second Capstone game I worked on for my Senior year at Champlain College, 
    the first being Moratity. Since Moratity didn't pass Greenlight at the end of the first semester, our team, Ethically Sourced Cats 
    (named after a cat-themed group chat), was divied up and our members had the opportunity to be onboarded onto one of the teams that
    passed Greenlight. I submitted an applicaiton to a handful of teams whose games I was interested in and wound up on Bonepile Studios.
    <br/>
    <br/>
    My biggest contribution to the team was creating a remote database using Supabase so we could record anonymous game data from our builds 
    while testing them at our school's game testing sessions. This allowed us an under-the-hood look at how players approached our game in ways that a 
    testing form couldn't quite achieve. Of course, when we created our final build to publish on Steam, we disabled data tracking. After the database 
    was finished, I mostly worked on bug-fixing. However, I did also have a hand in implementing Flairs, which are a major game mechanic that augment 
    a dinosaur's abilities.
  </p>
</body>
</html>
